<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.hmarka.alexey.incognito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    /*Camera*/
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true"/>

    /*Imei*/
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    /*GCM*/
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.SplashScreen" >
            <!--android:theme="@style/Theme.Splash"-->
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.AddPostActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="by.hmarka.alexey.incognito" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.IncognitoGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.IncognitoInstanceIdListnerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>
</manifest>
